<div class="row">
  <div class="col-sm-6 col-sm-offset-2">
    <h2>Enregistrer un nouvel immeuble</h2>
    <form [formGroup]="newBuildForm" (ngSubmit)="onSaveBuild()">
      <div class="form-group row required">
        <label for="contry" class="control-label">Pays</label>
        <input
          type="text"
          id="contry"
          class="form-control"
          formControlName="contry"
        />
      </div>

      <div class="form-group row required">
        <label for="city" class="control-label">Ville</label>
        <input
          type="text"
          id="city"
          class="form-control"
          formControlName="city"
        />
      </div>

      <div class="form-group row required">
        <label for="street" class="control-label">Rue</label>
        <input
          type="text"
          id="street"
          class="form-control"
          formControlName="street"
        />
      </div>

      <div class="form-inline">
        <div class="form-group required">
          <label for="building" col-sm-2 class="control-label"></label>
          <input
            type="text"
            id="building"
            placeholder="Immeuble"
            class="form-control"
            formControlName="building"
          />
        </div>

        <div class="form-group required">
          <label for="entryNumber" col-sm-2 class="control-label"></label>
          <input
            type="text"
            id="entryNumber"
            placeholder="Numero d'entre"
            class="form-control"
            formControlName="entryNumber"
          />
        </div>

        <div class="form-group">
          <label for="cp" col-sm-2></label>
          <input
            type="text"
            id="cp"
            placeholder="C.P"
            class="form-control"
            formControlName="cp"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="numberOfLives">Nombre d'habitant</label>
        <input
          type="text"
          id="numberOfLives"
          class="form-control"
          formControlName="numberOfLives"
        />
      </div>

      <div class="form-group row">
        <label for="responsable">Responsable</label>
        <input
          type="text"
          id="responsable"
          class="form-control"
          formControlName="responsable"
        />
      </div>

      <div class="form-group row required">
        <label for="email" class="control-label">Address-mail</label>
        <input
          type="text"
          id="email"
          class="form-control"
          formControlName="email"
        />
      </div>

      <button
        class="btn btn-success"
        [disabled]="newBuildForm.invalid"
        type="submit"
      >
        Enregistrer
      </button>
    </form>
  </div>
</div>
