<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="home-page">Home-page</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active">
        <a routerLink="connexion">Connexion</a>
      </li>
      <li>
        <a routerLink="books">Deconnexion</a>
      </li>
    </ul>
  </div>
</nav>
