<div class="row">
  <div class="col-sm-6 col-sm-offset-2">
    <h2>Coonnexion</h2>
    <form [formGroup]="ConnexionForm" (ngSubmit)="onConnexionBuild()">
      <div class="form-group row required">
        <label for="email" class="control-label">Adresse-mail</label>
        <input
          type="text"
          id="email"
          class="form-control"
          formControlName="email"
        />
      </div>

      <div class="form-group row required">
        <label for="password" class="control-label">Mot de passe</label>
        <input
          type="text"
          id="password"
          class="form-control"
          formControlName="password"
        />
      </div>

      <button
        class="btn btn-success"
        [disabled]="ConnexionForm.invalid"
        type="submit"
      >
        Connexion
      </button>
    </form>
  </div>
</div>
