<div class="row">
  <div class="col-md-12">
    <div class="container-fluid">
      <img src="../../assets/home-page/home-page2.jpg" />
      <div class="centered">
        <h1>
          <strong>
            GESTION D'IMMEUBLE
          </strong>
        </h1>
      </div>
      <div class="buttons">
        <button type="button" class="btn btn-success btn-lg btn-block" (click)="connexion()">Connexion</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="inscription()">Inscription</button>
      </div>
      </div>
  </div>
</div>
