.container-fluid
{
  position: relative;
  padding: 30px 0px;
}

.container-fluid img {
  width: 100%;
  height: 400px;
}

.centered {
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered h1{
  font-style: italic;
  font-size:50px;
}

.buttons{
  width: 30%;
  margin: 0 auto;
  display: block;
  margin-top: 15px;
}
